@page "/products/orders"
@using IMS.Application.Service.Products.Queries.Products
@using MediatR
@page "/products/orders/{OrderStateParam}"
@rendermode InteractiveServer
@implements IDisposable
@attribute [Authorize]


<PageTitle>Orders</PageTitle>

@if (IsLoading)
{
    <div class="d-flex vh-100 align-items-center justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

}

else
{
    <TwoSectionsTemplate>
        <Col12Template>
            <NetcodeHubBreadCrumb BreadCrumbs="BreadCrumbs" DeactivatedColor="@Color.Primary()" BackgroundColor="@BreadCrumbBackgroundColor.SecondarySubtle()" ActivatedColor="@Color.Dark()"></NetcodeHubBreadCrumb>
            <div class="row bg-success py-2 mt-3" style="border-radius: 20px">

                <div class="col-lg-12 col-sm-12 col-md-12">

                    <div class="card border-1 shadow-lg" style="border-radius: 20px">

                        <div class="card-header d-flex justify-content-between">

                            <i class="mdi mdi-move-resize-variant d-flex fs-2 text-success"></i>
                            <h4 class="text-success d-flex">My Orders</h4>
                            <button class="btn btn-outline-success d-flex" @onclick="CreateOrderBtnClicked">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                                </svg>
                            </button>
                        </div>
                        <div class="card-body border-1 border-success">
                            <div class="mb-1">
                                <input type="search" class="form-control float-end w-25 mb-1 p-2 border-success" placeholder="Search client, product, state,serial number" @onchange="SearchOrder" />
                            </div>

                            <SfGrid DataSource="@PermanentOrders" AllowPaging="true" AllowSorting="true" AllowExcelExport="true" style="margin-top: 35px;" AllowGrouping="true" AllowPdfExport="true" Toolbar="Toolbaritems" AllowSelection="true" AllowResizing="true" @ref="DefaultGrid">
                                <GridPageSettings PageSize="6"></GridPageSettings>
                                <GridSelectionSettings Type="SelectionType. Single" Mode="SelectionMode. Both"></GridSelectionSettings>
                                <GridEvents OnToolbarClick="ToolbarClickHandler" TValue="GetOrderResponseDTO" RowSelected="RowSelectHandler"></GridEvents>
                                <GridColumns>
                                    <GridColumn HeaderText="Image" AllowFiltering=false>
                                        <Template>
                                            @{
                                                var product = (context as GetOrderResponseDTO);
                                            }
                                            <div class="image">
                                                <img src="@(product!.ProductImage)" alt="@product.ProductName" width="70" height="50" />
                                            </div>
                                        </Template>
                                    </GridColumn>
                                    <GridColumn Field=@nameof(GetOrderResponseDTO.ClientName) HeaderText="Client Name"></GridColumn>
                                    <GridColumn Field=@nameof(GetOrderResponseDTO.OrderedDate) HeaderText="Date Ordered" Format="d" Type="ColumnType. DateTime">
                                    </GridColumn>
                                    <GridColumn Field=@nameof(GetOrderResponseDTO.DeliveringDate) HeaderText="Delivering Date" Format="d" Type="ColumnType. DateTime"></GridColumn>
                                    <GridColumn Field=@nameof(GetOrderResponseDTO.ProductName) HeaderText="Product Name"></GridColumn>
                                    <GridColumn Field=@nameof(GetOrderResponseDTO.SerialNumber) HeaderText="Serial NO."></GridColumn>
                                    <GridColumn Field=@nameof(GetOrderResponseDTO.Quantity) HeaderText="Quantity" Type="ColumnType.Integer"></GridColumn>
                                    <GridColumn Field=@nameof(GetOrderResponseDTO.Price) HeaderText="Price" Format="C2" Type="ColumnType. Decimal"></GridColumn>
                                    <GridColumn Field=@nameof(GetOrderResponseDTO.TotalAmount) HeaderText="Total" Format="C2" Type="ColumnType.Decimal"></GridColumn>
                                    <GridColumn HeaderText="State">
                                        <Template>
                                            @{
                                                var order = (context as GetOrderResponseDTO);
                                                <div class="d-flex justify-content-between">

                                                    @if (order!.State.Equals(OrderState.Processing))
                                                    {
                                                        <button type="button" class="btn btn-warning btn-sm border-0" style="cursor:default">@order!.State</button>
                                                    }
                                                    else if (order!.State.Equals(OrderState.Delivered))
                                                    {
                                                        <button type="button" class="btn btn-success btn-sm border-0" style="cursor:default">@order!.State</button>
                                                    }
                                                    else if (order!.State.Equals(OrderState.Delivering))
                                                    {
                                                        <button type="button" class="btn btn-primary btn-sm border-0" style="cursor: default">@order!.State</button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" class="btn btn-danger btn-sm border-0" style="cursor:default">@order!.State</button>
                                                    }
                                                </div>
                                            }
                                        </Template>
                                    </GridColumn>
                                </GridColumns>
                            </SfGrid>
                        </div>
                    </div>
                </div>
            </div>
            <NetcodeHubModal @bind-Open="IsOpen" BootstrapClass="border-success rounded p-2 ml-2" CustomStyle="@ModalCustomStyle">
                <ContentTemplate>
                    @if (ShowOrderPage)
                    {
                        <div class="card border-1 shadow-sm">
                            <div class="card-header">
                                <i class="mdi mdi-sync text-success fs-4 px-3 menu-icon text-start"></i>
                                <span class="text-center text-success fw-bold">Place Orders</span>
                                <i class="mdi mdi-close text-success fw-bold float-end fs-4 cursorStyle" @onclick="CloseModal"></i>
                            </div>
                            <div class="card-body">
                                <EditForm Model="OrderModel" OnValidSubmit="Save" Enhance>
                                    <DataAnnotationsValidator />
                                    <div class="form-group">
                                        <label class="form-label">
                                            Select Product
                                        </label>
                                        <select class="form-select mb-3 w-100" @onchange="ProductSelectionChanged">
                                            @if (Products != null)
                                            {
                                                <option>
                                                    Select a Product
                                                </option>
                                                @foreach (var item in Products)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group mt-3">
                                        <NetcodeHub.Packages.Components.Validations.OnInput.FloatingNumber Label="Product Quantity" @bind-Value="OrderModel.Quantity" class="form-control w-100"></NetcodeHub.Packages.Components.Validations.OnInput.FloatingNumber>
                                    </div>

                                    <div class="form-group">
                                        @if (Loading)
                                        {
                                            <GenericSpinnerButton ButtonClass="btn btn-danger" Text="@Text"></GenericSpinnerButton>
                                        }
                                        else
                                        {
                                            <button type="submit" class="btn btn-success float-end">Create Order</button>
                                        }
                                    </div>

                                    <div class="form-group mt-2">
                                        @if (Errors != "")
                                        {
                                            @Errors

                                        }
                                        else
                                        {
                                            <ValidationSummary style="list-style:circle"></ValidationSummary>
                                        }
                                    </div>
                                </EditForm>
                            </div>
                        </div>
                    }
                    @if (ShowOtherPage)
                    {
                        <div class="card">
                            <div class="card-header justify-content-between d-flex">
                                <i class="d-flex @OtherModalHeaderIcon text-@CssClass fs-4 px-3 menu-icon text-start"></i>
                                <span class="f-flex text-center text-@CssClass fw-bold px-3">@OtherModalTitle</span>
                                <i class="d-flex mdi mdi-close text-@CssClass fw-bold float-end fs-4 cursorStyle" @onclick="CloseModal"></i>
                            </div>
                            <div class="card-body">@OtherModalMessage</div>
                            <div class="card-footer">
                                @if (Loading)
                                {
                                    <GenericSpinnerButton ButtonClass="btn btn-danger" Text="@Text"></GenericSpinnerButton>
                                }
                                else
                                {
                                    <button class="btn btn-@CssClass float-end" type="button" @onclick="OtherModalButtonClicked">
                                        <i class="mdi mdi-radio"></i>
                                        @OtherModalButtonText
                                    </button>
                                }
                            </div>
                        </div>
                    }
                </ContentTemplate>
            </NetcodeHubModal>

        </Col12Template>
    </TwoSectionsTemplate>
}
<NetcodeHubToast @ref="ToastComponent" Duration="@Duration" />


@code {

    private ClaimsPrincipal? User;
    private string userName = string.Empty;
    private Dictionary<string, string?> BreadCrumbs = new Dictionary<string, string?>
    {
        {"Home","app/home"},

        {"Manage Orders",null}
    };
    private SfGrid<GetOrderResponseDTO>? DefaultGrid;
    NetcodeHubToast? ToastComponent;
    string ModalCustomStyle = string.Empty;
    string Search = string.Empty;
    string Errors = "";
    private bool ShowOrderPage;
    private bool ShowOtherPage;
    public string? OtherModalMessage { get; set; }
    public string? OtherModalIcon { get; set; }
    public string? OtherModalButtonText { get; set; }
    public string? OtherModalTitle { get; set; }
    public string? CssClass { get; set; }
    public string? OtherModalHeaderIcon { get; set; }
    private string Text = "Loading..";
    private List<ItemModel> Toolbaritems = new();
    public bool Loading { get; set; } = false;
    public int Duration { get; set; } = 3000;
    public bool IsOpen { get; set; }

    private IEnumerable<GetOrderResponseDTO> TemporalOrders { get; set; } = [];

    private IEnumerable<GetOrderResponseDTO> PermanentOrders { get; set; } = [];

    public CreateOrderRequestDTO OrderModel { get; set; } = new();

    public IEnumerable<GetProductResponseDTO> Products = [];

    public IEnumerable<GetCategoryResponseDTO> Categories = [];

    public GetProductResponseDTO SelectedProduct = new();

    private GetOrderResponseDTO SelectedOrder = new();

    private bool IsLoading = true;


    [Parameter]
    public string? OrderStateParam { get; set; }

    private HubConnection? hubConnection;

    protected async override Task OnInitializedAsync()
    {
        try
        {
            Loading = true;
            IsLoading = true;
            await GetUserIdentity();
            await GetOrders();
            await GetProducts();
            LoadToolbarItems();
        }
        finally
        {
            IsLoading = false;
            Loading = false;

        }

        hubConnection = hubConnectionService.GetHubConnection();
        hubConnection.On<string>("Notify", async (clientId) =>
        {
            await CallWhenNotified();
        });
        if (hubConnection == null)
        {
            await hubConnection!.StartAsync();
        }
    }

    private async Task CallWhenNotified()
    {
        await GetOrders();

        await InvokeAsync(async () =>
        {
            StateHasChanged();

            var userId = User!.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)!.Value.ToString();

            await userState.GetActiveOrdersCount(userId);
        });
    }

    // void StateButtonClicked()
    // {
    //     OrderStateParam = string.Empty;
    //     var updateUrlTask = Task.Run(async () => await JS.InvokeVoidAsync("updateUrl", "products/orders"));

    //     StateGeneralMethod();

    // }

    void StateGeneralMethod()
    {
        string? state = OrderStateParam;
        if (!string.IsNullOrEmpty(OrderStateParam))
        {
            PermanentOrders = TemporalOrders.Select(_ =>
                                                                        {
                                                                            _.ClientName = userName;
                                                                            return _;
                                                                        })
                                                                        .Where(_ => _.State.Equals(state, StringComparison.OrdinalIgnoreCase))
                                                                        .ToList();

        }
        else
        {
            PermanentOrders = TemporalOrders.Select(_ =>
        {
            _.ClientName = userName;
            return _;
        }).ToList();
        }
        StateHasChanged();
    }


    async Task ToolbarClickHandler(ClickEventArgs e)
    {
        if (e.Item.Text.ToLower() == "excel")
        {
            await this.DefaultGrid!.ExportToExcelAsync();
        }
        else if (e.Item.Text.ToLower() == "pdf")
        {
            await this.DefaultGrid!.ExportToPdfAsync();

        }
        else if (e.Item.Text.ToLower() == "print")
        {
            await this.DefaultGrid!.PrintAsync();

        }
        else if (e.Item.Text.ToLower() == "cancel order")
        {
            bool check = await CheckIfRowSelected();
            if (check)
            {
                ResetModalDisplay();
                ModalCustomStyle = "position: relative; left:40vw;right:30vw;top:45vh";
                OtherModalTitle = "Confirm Order Cancellation";
                OtherModalButtonText = "Cancel Order";
                OtherModalIcon = "mdi mdi-close text-danger";
                OtherModalMessage = "Are you sure you want to cancel this order?";
                OtherModalHeaderIcon = "mdi mdi-shield";
                CssClass = "danger";
                ShowOtherPage = true;
                OpenModal();
            }

        }


    }


    void CreateOrderBtnClicked()
    {
        ShowOrderPage = true;
        ResetModalDisplay();
        ModalCustomStyle = "position:relative; left:40vw;top:35vh;min-width:280px";
        OrderModel = new();
        OpenModal();
    }

    //notify the hub to client => Admin when order is canceled
    async Task OtherModalButtonClicked()
    {
        if (SelectedOrder.Id == Guid.Empty)
        {
            ShowOrderPage = true;
            ShowOtherPage = false;
            return;
        }
        Text = "Canceling Order...";
        Loading = true;
        using var scope = serviceProvider.CreateScope();
        var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
        var response = await mediator.Send(new CancelOrderCommand(SelectedOrder.Id));
        await accountService.SaveActivityAsync(new ActivityTrackerRequestDTO()
            {
                UserId = User!.Claims.FirstOrDefault(u => u.Type == ClaimTypes.NameIdentifier)!.Value.ToString(),
                Title = "Cancel order method called",
                Description = response.Message,
                OperationState = response.Flag,
                Date = DateTime.Now.Date
            });
        if (response.Flag)
        {
            string userId = User!.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)!.Value.ToString();

            await userState.GetActiveOrdersCount(userId);

            await hubConnection!.SendAsync("Notification", "userId");
            CloseModal();
            await GetOrders();
            await ToastComponent!.ShowSuccessToast("Info", response.Message);
        }
        else
        {
            await ToastComponent!.ShowErrorToast("Info", response.Message);
        }
        Loading = false;
    }

    private async Task<bool> CheckIfRowSelected()
    {
        if (SelectedOrder.Id == Guid.Empty)
        {
            Duration = 2000;
            await ToastComponent!.ShowErrorToast("Alert", "No order selected");
            return false;
        }
        return true;
    }

    public void RowSelectHandler(RowSelectEventArgs<GetOrderResponseDTO> e)
    {
        SelectedOrder = e.Data;

    }

    void SearchOrder(Microsoft.AspNetCore.Components.ChangeEventArgs e)
    {
        try
        {
            string trimFilter = e.Value!.ToString()!.Trim();
            PermanentOrders = TemporalOrders.Where(_ => _.ProductName.Contains(trimFilter, StringComparison.OrdinalIgnoreCase) ||
                                                                                    _.SerialNumber.Contains(trimFilter, StringComparison.OrdinalIgnoreCase) ||
                                                                                    _.State.Contains(trimFilter, StringComparison.OrdinalIgnoreCase))
                                                                                      .ToList();
        }
        catch
        {
            PermanentOrders = null!;
        }
    }

    private void ResetModalDisplay()
    {



        ModalCustomStyle = string.Empty;

        ModalCustomStyle = string.Empty;

        OtherModalTitle = string.Empty;

        OtherModalButtonText = string.Empty;

        OtherModalIcon = string.Empty;

        OtherModalMessage = string.Empty;
    }

    void LoadToolbarItems()
    {

        Toolbaritems.Add(new ItemModel() { Text = "Cancel Order", TooltipText = "Cancel Order", PrefixIcon = "e-close" });

        Toolbaritems.Add(new ItemModel() { Text = "PDF", TooltipText = " Export to Pdf", PrefixIcon = "e-icons e-export-pdf" });

        Toolbaritems.Add(new ItemModel() { Text = "EXCEL", TooltipText = "Export to Excel", PrefixIcon = "e-icons e-export-xls" });

        Toolbaritems.Add(new ItemModel() { Text = "Print", TooltipText = " Print", PrefixIcon = "e-print" });
    }

    private async Task GetUserIdentity()
    {
        try
        {
            User = (await AuthStateProvider.GetAuthenticationStateAsync()).User;
            IdHolder = Guid.Parse(User!.Claims.FirstOrDefault(u => u.Type == ClaimTypes.NameIdentifier)!.Value);
        }
        catch { }
    }

    void OpenModal() => IsOpen = true;

    void CloseModal() => IsOpen = false;

    private Guid IdHolder { get; set; } = Guid.Empty;

    async Task Save()
    {
        if (SelectedProduct.Quantity < OrderModel.Quantity)
        {
            ResetModalDisplay();

            OtherModalMessage = $"Available in stock: {SelectedProduct!.Quantity}";

            ShowOtherPage = true;

            OtherModalIcon = "mdi mdi-radio";

            OtherModalButtonText = "Okay";

            OtherModalTitle = $"{SelectedProduct.Name} Availability";

            ModalCustomStyle = "position:relative; left: 40vw; top:35vh;";

            CssClass = "success";

            OtherModalHeaderIcon = "mdi mdi-delete-sweep";

            OtherModalIcon = "mdi mdi-okay";

            OpenModal();

            return;
        }

        OrderModel.ClientId = IdHolder.ToString();

        Text = "Placing Order...";

        Loading = true;


        using var scope = serviceProvider.CreateScope();
        var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();
        var response = await mediator.Send(new CreateOrderCommand(OrderModel));

        SelectedProduct = new();

        await accountService.SaveActivityAsync(new ActivityTrackerRequestDTO()

            {
                UserId = IdHolder.ToString(),

                Title = "Create Order method called",

                Description = response.Message,

                OperationState = response.Flag,

                Date = DateTime.Now.Date

            });

        Loading = false;

        StateHasChanged();

        if (response.Flag)

        {

            // Send message when order canceled by admin to the hub to notify connected client/clients

            await hubConnection!.SendAsync("Notification", OrderModel.ClientId);

            CloseModal();

            await GetOrders();

            await ToastComponent!.ShowSuccessToast("Info", response.Message);
            OrderModel = new();
        }
        else
        {
            await ToastComponent!.ShowErrorToast("Alert", response.Message);
        }



    }


    async Task GetOrders()
    {
        string userId = IdHolder.ToString();
        userName = User!.Claims.FirstOrDefault(u => u.Type == "Name")!.Value;

        using var scope = serviceProvider.CreateScope();

        var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();

        TemporalOrders = await mediator.Send(new GetOrderByIdQuery(userId));

       
        StateGeneralMethod();
    }

    async Task GetProducts()
    {
        string userId = User!.Claims.FirstOrDefault(u => u.Type == ClaimTypes.NameIdentifier)!.Value.ToString();
        using var scope = serviceProvider.CreateScope();

        var mediator = scope.ServiceProvider.GetRequiredService<IMediator>();

        Products = await mediator.Send(new GetProductQuery());
    }

    public void Dispose() {}

    void ProductSelectionChanged(Microsoft.AspNetCore.Components.ChangeEventArgs e)
    {
        OrderModel!.ProductId = Guid.Parse(e.Value!.ToString()!);

        //Check product quantity and tell the client.

        var product = Products.FirstOrDefault(_ => _.Id == Guid.Parse(e.Value!.ToString()!));

        if (product == null)
        {
            return;
        }

        SelectedProduct = product;
        OrderModel.ProductName = SelectedProduct.Name;



    }

}


